# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/
*.code-workspace

# Environment / Secrets
.env
*.pem

# AWS credentials (never push these!)
.aws/
*.tfstate
*.tfstate.backup

# OS files
Thumbs.db
.DS_Store
